/* Increase font size for menus and bookmarks */
menupopup * {
    font-size: 24px !important; /* Adjust this size as needed */
}

/* Increase font size for tab titles */
.tab-label {
    font-size: 24px !important; /* Adjust this size as needed */
}

/* Increase font size for toolbar items (like bookmarks) */
#PersonalToolbar toolbarbutton .toolbarbutton-text,
.bookmark-item {
    font-size: 24px !important; /* Adjust this size as needed */
}

/* Increase font size for address bar and search bar text */
#urlbar .urlbar-input, #searchbar .searchbar-textbox {
    font-size: 24px !important; /* Adjust this size as needed */
}

/* Optional: Increase font size for browser UI overall */
* {
    font-size: 16px !important;
}

